<div class="navbar__brand_container">
  <div class="navbar__brand">
    <a [routerLink]="['/']">MinhaApp</a>
  </div>

  <ul class="navbar__links_grande" [class.navbar__links_Open]="menuOpen">
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/produtos']">Produtos</a></li>
    <li><a [routerLink]="['/sobre']">Sobre</a></li>
    <li><a [routerLink]="['/contato']">Contato</a></li>
  </ul>

  <button class="navbar__toggle" (click)="toggleMenu()" aria-label="Abrir menu">
    &#9776;
  </button>
</div>


<ul class="navbar__links" [class.navbar__links_Open]="menuOpen">
  <li><a [routerLink]="['/']">Início</a></li>
  <li><a [routerLink]="['/produtos']">Produtos</a></li>
  <li><a [routerLink]="['/sobre']">Sobre</a></li>
  <li><a [routerLink]="['/contato']">Contato</a></li>
</ul>